*.iml
*.ipr
*.ids
*.iws
.idea/
*.if
*.lk
vf.gf.*
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
build/distributions
build/classes
build/tmp
build/scripts
build/dependency-cache
target/
*.original
.gradle
build/classes
*.log*
